body {
  width: 1020px;
  margin: 0 auto;
}

header {
  height: 89px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin-left: 40px;
  margin-top: 20px;
  font-family: "Lato";
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.logostar {
  color: #ff6666;

}

.headermenu {
  width: 370px;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
}

.headermenu_link {
  text-decoration: none;
  color: #ffffff;
}

.headermenu_link:hover {
  color: #ff6666;
  }

.headermenu_item {
  font-family: "Lato";
  font-size: 12px;
  font-weight: bold;
  list-style: none;
  text-transform: uppercase;
}

.headermenu_item:after {
  content: ".";
  font-size: 12px;
  text-align: center;  
  color: #666666;
  position: relative;
  top: -2px;
  right: -14px;
}

.headermenu_last:after {
  content: "";
  font-size: 16px;
}

.slider {
  position: relative;
  height: 594px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.phone-vertical {
  position: absolute;
  top: 52px;
  left: 112px;
}

.phone-horizontal {
  position: absolute;
  top: 174px;
  left: 426px;
}

.arrows {
  width: 14px;
  height: 14px;
  border-color: #000;
  position: absolute;
  top: 50%;
  margin-top: -12px;
  
}

.prev {
  border-bottom: 6px solid;
  border-left: 6px solid;
  transform: rotate(45deg);
  left: 10px;
  border-radius: 4px;
  margin-left: 34px;
}

.next {
  border-bottom: 6px solid;
  border-left: 6px solid;
  transform: rotate(-135deg);
  right: 10px;
  border-radius: 4px;
  margin-right: 34px;
}

.slider-arrow {
  text-decoration: none;
  color: #cc3333;
}

.slider-arrow:active {
  color: #cccccc;
}
