body {
    margin: 0 auto;
    width: 1020px;
}

.communications {
    box-sizing: border-box;
    height: 654px;
    padding: 30px 40px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;

}

.form-wrapper {
    display: grid;
    grid-template-columns: 620px 300px;
    column-gap: 20px;
    padding-top: 12px;
    
}

footer {
    height: 76px;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    background-color: #2d303a;
}

h2 {
    font-family: "Lato";
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 18px;
    font-weight: 900;
    color: #f0d8d9;

}

h3 {
    max-height: 20px;
    font-family: "Lato";
    font-size: 18px;
    margin-top: 12px;
    margin-bottom: 0;
    font-weight: 900;
    color: #f0d8d9;
    overflow: hidden;
    text-overflow: ellipsis;
}

.peoples-text {
    margin-top: 10px;
    line-height: 22px;
    font-family: "Lato";
    font-size: 12px;
    color: #f0d8d9;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 300;
}

.portfolio-text {
    margin-bottom: 18px;
    line-height: 30px;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 300;
    color: #f0d8d9;
    text-align: justify;
}

form {
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.forms {
    padding-left: 15px;
    border: 1px solid  #d6564f;
    border-radius: 5px;
    background-color: #d6564f;
    font-family: "Lato";
    font-size: 12px;
    line-height: 34px;
    color: #f0d8d9;
    
}

.line {
    margin-bottom: 16px;
}
.area {
    height: 198px ;
    resize: none;
}

.forms:focus {
    outline: none;
}


.forms:required:valid {
    border: 1px solid #5cd053;
}

.forms:required:focus:invalid {
    border: 1px solid #ff2600;
}


::placeholder {
    font-family: "Lato";
    font-size: 12px;
    color: #f0d8d9;
    opacity: 0.5;
    font-weight: 300;
}

.submit {
    padding-left: 0;
    margin-top: 15px;
    justify-self: flex-start;
    width: 20%;
    cursor: pointer;
}

.submit:active {
    background-color:  #2d303a;
}

.contacts {
    margin-left: 0;
    margin-top: 0;
    padding: 10px 0;
}

.contacts-item {
    list-style: none;
}

.contacts-link {
    text-decoration: none;
    font-family: "Lato";
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-weight: 300;
}

.fas {
    margin-right: 10px;
}

.socials {
    width: 152px;
}

.socials-menu {
    box-sizing: border-box;
    margin-top: 20px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-left: 0;
}

.socials-link {
    align-content: center;
    padding: 6px 8px;
    border: 1px solid #666d89;
    border-radius: 100%;
}

.facebook {
    padding: 6px 11px;
}

.socials-link:hover {
    border-color: #ff6666;
    background-color: #ffcccc;
}

.rights {
    margin-top: 20px;
    font-family: "Lato";
    font-size: 12px;
    color: #666d89;
    font-weight: 300;
}